@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

.jumbotron {
    text-align: center;
    background-image: url("../images/memphis-colorful.png");
    background-color: #171e4b;
}

h1, label {
    font-family: 'Patrick Hand SC', cursive;
}

button {
    margin: 5px;
}

#show-input {
    margin: 15px;
}

#gifDisplay {
    margin-bottom: 25px;
}

#infoDisplay {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #dcdbe9;
    padding: 25px;
    border-radius: 25px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1, p {
    text-align: center;
}


